<!--<div class="table" ng-controller="LoginCtrl">-->
  <!--<ul>-->
    <!--<li class="branding"><a>Test</a></li>-->
    <!--<li><a ng-href="#/issues">Issues</a></li>-->
    <!--<li><a ng-href="#/users">Users</a></li>-->
    <!--<li></li>-->
    <!--<li ng-hide="username"><a ng-href="#/login">Login</a></li>-->
    <!--<li ng-show="username"><a ng-click="logout()" ng-href="#">Logout:  ({{username}})</a></li>-->

  <!--</ul>-->
    <!---->
<!--</div>-->

<div data-example-id="vertical-button-group">
    <div class="btn-group-vertical" role="group" aria-label="Vertical button group">
        <button ng-controller="UsersCtrl" type="button" class="btn btn-default" ng-click="getUsers()">Users</button>
        <button ng-controller="ClientsCtrl" type="button" class="btn btn-default" ng-click="getClients()">Clients</button>

        <button type="button" class="btn btn-default">Consortiums</button>
        <button type="button" class="btn btn-default">Tests</button>
    </div>
</div>
</div>