<div class="row" ng-controller="TestsCtrl" xmlns="http://www.w3.org/1999/html">
    <div class="col-xs-6" >
        <ul id="TestSelected">
            <li ui-draggable="true" drag="sTest"
                on-drop-success="dropSuccessHandler($event,$index,selectedTest)"
                ui-on-Drop="onDrop($event,$data,selectedTest)"
                ng-repeat="sTest in selectedTest track by $index">
                {{sTest.test_name}}
            </li>
        </ul>
        </br>
        <ul id="TestSelected">
            <li ui-draggable="true" drag="sTest1"
                on-drop-success="dropSuccessHandler1($event,$index,selectedTest1)"
                ui-on-Drop="onDrop1($event,$data,selectedTest1)"
                ng-repeat="sTest1 in selectedTest1 track by $index">
                {{sTest1.test_name}}
            </li>
        </ul>
    </div>
    <div class="col-xs-6">
        <ul>
            <li ui-draggable="true" drag="test"
                ui-on-Drop="onDrop($event,$data,tests)"
                on-drop-success="dropSuccessHandler($event,$index,tests)"
                ng-repeat="test in tests track by $index">
                {{test.test_name}}
            </li>
        </ul>
    </div>
    <!--<button ng-click="saveTest(selectedTest,selectedTest1)">Save</button>-->
</div>