<h1>Tests</h1>
<table class="table table-hover" ng-controller="TestsCtrl">
    <thead>
    <tr>
        <th>Edit</th>
        <th>Test ID</th>
        <th>Test Name <input ng-model="search.test_name"></th>
    </tr>
    </thead>
    <tbody>
    <tr dir-paginate="test in tests | filter:search:strict  | itemsPerPage: pageSize">
        <td><a href="/tests/{{test.test_id}}">Edit</a> </td>
        <td>{{test.test_id}}</td>
        <td>{{test.test_name}}</td>
    </tr>
    </tbody>
</table>
<div ng-controller="PagingController">
    <dir-pagination-controls  on-page-change="pageChangeHandler(newPageNumber)" ></dir-pagination-controls>
</div>